configuration {
  combi-modes: [window, drun, run];
  modes: [combi];
  show-icons: true;
  icon-theme: "Qogir-Dark";
  sorting-method: "fzf";
  search-method: "fuzzy";
}

@theme "/usr/share/rofi/themes/solarized_alternate.rasi"
