window#waybar {
    background-color: #323232;
    color: #ffffff;
    font-family: monospace;
    font-size: 15px;
}

#tray, #pulseaudio, #clock, #battery {
    padding-left: 15px;
}

#workspaces button {
    color: #5c5c5c;
    border: none;
    padding: 0 10px;
    border-radius: 0;
    /*background-color: transparent;*/
}

#workspaces button.focused {
    color: #ffffff;
    background-color: #285577;
}

#workspaces button.urgent {
    color: #ffffff;
    background-color: #900000;
}

#workspaces button:hover {
    color: #285577;
    background-color: #ffffff;
    /*background: none;*/
    /*border: none;*/
    /*box-shadow: inherit;*/
    /*text-shadow: inherit;*/
}
