window#waybar {
    background-color: #323232;
    color: #ffffff;
    font-family: monospace;
    font-size: 16px;
}

#tray, #battery, #pulseaudio, #pulseaudio, #custom-timebox, #clock {
    padding-left: 16px;
}

#clock {
    padding-right: 8px;
}

#workspaces button {
    border: none;
    padding: 0 8px;
    border-radius: 0;
}

#workspaces button.focused {
    color: #ffffff;
    background-color: #285577;
}

#workspaces button.urgent {
    color: #ffffff;
    background-color: #900000;
}

#workspaces button:hover {
    color: #285577;
    background-color: #ffffff;
}
